
html {
  font-size: 16px;
  margin:0;
  padding: 0;
}

body {
  margin: 0;
	font-family: Arial, sans-serif;
	padding: 1em;
}

h2 {
  font-size: 1.6em;
	color: rgb(15, 85, 90);
	margin: 0.6em 0;
}

h3 {
  font-size: 1.25em;
	color: rgb(85, 90, 15);
	margin: 0.3em 0;
}

.conf_key {
  margin: 0;
  font-weight: normal;
  color: rgb(15, 29, 90);
}

#footer {
  margin: 1em 0;
  background-color: rgb(230,191,150);
}

div {
  margin:0; padding: 0;
}

ul, ol {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

#pem_cert, #live_cert {
	display: table;
	border-radius: 10px;
}

.certinfo {
	padding: 0.5em;
	margin: 0;
	border-radius: 5px;
	line-height: 1.1em;
	background-color: rgb(200, 250, 222);
}

.certinfo > p {
  margin: 0;
  padding: 0;
}

.certinfo:hover {
	cursor: pointer;
	background-color: rgb(200, 250, 222);
}

.cert_test, .cert_err {
	background-color: rgb(250,200,200);
	border: 7px dashed red;
}

.cert_prod {
	background-color: rgb(200,240,250);
	border: 7px dashed green;
}

#test {
	color: blue;
}
#prod {
	color: red;
}
#view {
	color: green;
}
#zipkeys {
	color: orange;
}
#install {
	color: green;
}

#user_profiles .edit_save, #user_profiles .edit_remove, 
#user_profiles .edit_admin, #user_add #add_admin {
  width: 100%;
  
}

.msg {
	display: block;
	margin:1px;
	white-space: normal;
	font-size: 1em;
	line-height: 1.06em;
	word-wrap: break-word;
	word-break: break-all;
}

.error_log_msg {
	color: white;
	background-color: red;
}

.info_log_msg {
	color: black;
}

input[data-active="true"] {
	color: blue;
}

#key_change > input, #gen_control > input, input[data-active="true"] {
	font-weight:bold;
}

div[data-ca-type="prod"]#cview {
	cursor: copy;
	border-color: green;
}

div[data-ca-type="test"]#cview {
  border-color: red;
 	cursor: not-allowed;	
}

input[type="submit"], input[type="button"] {
	box-shadow: 0 1px 0 0 #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border:1px solid #333029;
	cursor:pointer;
	font-weight:bold;
	min-width: 1.8em;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
}

input[type="submit"]:hover, input[type="button"]:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}

input[type="submit"]:active, input[type="button"]:active {
	position:relative;
	top:1px;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="button"],
  input[type="number"] {
	margin: 1px;
	font-size: 0.9em;
	line-height: 1em;
	height: 1.8em;
  padding: 0 5px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="number"] {
  border: 1px solid gray;
  border-radius: 5px;
  width: 13em; 
}

input[disabled] {
  color: gray;
}

.unparsed {
	color: red;
}

#menu {
	display: inline-block;
	margin: 0 0 0.6em 0;
	padding: 0;
	border-radius: 6px;
}

#menu ul {
  margin: 0.5em 0;
  padding: 0;
}

#menu li {
  list-style-type: none;
  display: inline-block;
  margin: 2px;
  padding: 0;
  background-color: rgb(15, 85, 90);
  border-radius: 8px;
}

#menu a {
  position: relative;
  display: block;
  text-decoration: none;
	border-radius: 5px;
	color: white;
	margin: 0;
	padding: 0.7em;
	font-weight: bold;
	background: rgb(51, 28, 14);
	background-color: rgb(51, 28, 14);
	background-image: linear-gradient(to bottom, rgb(227, 200, 153) 5%, rgb(51, 28, 14) 100%);
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#menu a:hover,#menu a.menu_active {
	background-image: linear-gradient(rgb(91, 174, 78) 41%, rgb(2, 38, 27) 100%);
	text-shadow: 2px 1px 2px black;
}

#menu a.menu_active {
	color: rgb(251, 255, 102);
}

table{
	background-color: white;
	border: 2px solid rgb(15,85,90);
	border-radius: 5px;
	margin: 0.7em 0;
	padding: 0;
}

td, tr, th, thead, tbody {
  margin: 0;
  padding: 2px;
}

table tr {
	background-color: rgb(200,240,250);
}

input[disabled="true"] {
	color: gray;
	font-weight: normal;
}

.popup {
	position: relative;
	border-radius: 6px;
	padding: 0.3em;
	display: table;
	cursor: pointer;
	border: 2px solid rgb(15,85,90);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.popup:after, .popup:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup:before {
  border-color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.popup:after {
  border-right-color: rgb(15,85,90);
}

.popup:after, .popup:before {
	border-width: 10px;
	margin-top: -10px;
}

.popup p {
  margin: 0.2em;
}

.msg_ok_green  {
  background-color: rgb(205, 255, 185);
}

.msg_ok_blue {
	background-color: rgb(185, 250, 255);
}

.msg_ok_yellow {
	background-color: rgb(250,231,135);
}

.msg_err {
	background-color: rgb(255, 177, 177);
}

.edit_remove {
	color: red;
}

.edit_save {
	color: green;
}

.cron_sh {
  word-wrap: break-word;
}

#add_user {
	width: 100%;
	color: blue;
}

#zipdown {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

#cgen[data-hidden="true"], #cview[data-hidden="true"] {
  display: none;
}

#cgen[data-hidden="false"], #cview[data-hidden="false"] {
  display: inline-block;
  border-color: green;
}

#cgen {
	background-color: rgb(200, 250, 222);
	cursor: pointer;
	overflow: auto;
	height: 100%;
	max-height: 16em;
}

#cview, #cgen {
	font-family: monospace;
	font-size: 0.75em;
	border: 2px solid gray;
	border-radius: 7px;
	padding: 0.6em;
	margin: 0.4em 0;
	display: inline-block;
}

#cview {
	white-space: pre-line;
	padding: 5px;
	word-wrap: break-word;
	word-break: break-all;
	display:table;
}

.conf_desc {
	display: none;
}

.conf_key {
  display: table;
  cursor: help;
}

.conf_row {
	margin: 3px 0;
}

.conf_row b {
	line-height: 1em;
}

#save_conf, #auth {
	font-weight: bold;
	font-size: 1em;
	margin-top: 1em;
	display: block;
	width:100%;
}

form {
  margin: 1em 0;
  padding: 1em;
  background-color: rgb(200,240,250);
  display: table;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow:
  	0 0 0 2px black;
}